<nav class="navbar navbar-default navbar-static-top navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/signup">Sign Up</a></li>
                <li><a href="#/login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<main>
    <section class="cover well">
        <!--<div class="container" style="text-align: center;padding-top: 35px">
            <div class="row" >
                <div class="col-md-10 col-md-offset-1">
                    <h1>
                        Where will
                        <br class="visible-xs">
                        <span style="color: gray">great work</span>
                        <br class="visible-xs visible-sm">
                        take you?
                    </h1>
                </div>
                <div class="col-xs-8 col-xs-offset-2">
                    <hr style="border-top-color: #b2b2b2; margin-top: 11px;margin-bottom: 11px;">
                </div>
            </div>
            <p class="lead" style="font-size: 20px; margin-top: 4px;color: gray">
                Find freelancers to tackle any job,
                <br class="visible-xs">
                any size, any time
            </p>
        </div>-->
    </section>
    <!--<div class="container" style=" margin-right: auto;margin-left: auto; padding-left: 15px;padding-right: 15px;">
        <h2 style="font-size: 40px;line-height: 1.2;text-align: center;color: #494949;">Work with someone perfect for your team</h2>
    </div>-->
</main>
